.footer__circle-button {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: #21e25e;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.footer__text {
  display: block;
  color: blueviolet;
  font-size: 32px;
}
